/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
}
.section-fluid {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF ELEVEN  */
.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
  	width: 90.76%;
}

.span_9_of_11 {
  	width: 81.52%;
}

.span_8_of_11 {
  	width: 72.29%;
}

.span_7_of_11 {
  	width: 63.05%;
}

.span_6_of_11 {
  	width: 53.81%;
}

.span_5_of_11 {
  	width: 44.58%;
}

.span_4_of_11 {
  	width: 35.34%;
}

.span_3_of_11 {
  	width: 26.10%;
}

.span_2_of_11 {
  	width: 16.87%;
}

.span_1_of_11 {
  	width: 7.636%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 767px) {
	.section { padding: 0 20px; }
	.col {  margin: 1% 0 1% 0%; }
	
    .span_1_of_11, .span_2_of_11, .span_3_of_11, .span_4_of_11, .span_5_of_11, .span_6_of_11, .span_7_of_11, .span_8_of_11, .span_9_of_11, .span_10_of_11, .span_11_of_11 {
	width: 100%; 
	}
}

@media only screen and (min-width: 768px) {
	.section {
		width: 720px;
	}
}
@media only screen and (min-width: 992px) {
	.section {
		width: 940px;
	}
}
@media only screen and (min-width: 1200px) {
	.section {
		width: 1140px;
	}
}







