body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

body a {
  text-decoration: none;
  color: #fff;
}

body .left-padding {
  padding-left: 300px;
}

body header {
  z-index: 1;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #fff;
}

body header a {
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

body header a:hover, body header a:focus {
  opacity: 1;
}

body header .mobile-menu {
  z-index: 1001;
  position: absolute;
  top: 11px;
  left: 50px;
  opacity: .5;
}

body header .mobile-menu .menu-icon {
  position: absolute;
  display: block;
  top: -4px;
  left: -30px;
  width: 20px;
  line-height: 1px;
}

body header .mobile-menu .menu-icon .menu-icon-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #bea67c;
}

body header nav {
  display: inline-block;
}

body header nav ul {
  position: relative;
  bottom: 5px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body header nav ul li {
  display: inline-block;
  padding-left: 80px;
}

body header nav ul li a {
  opacity: .5;
  font-size: 14px;
}

body header .info-link {
  position: absolute;
  top: 10px;
  right: 55px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  line-height: 6px;
  text-transform: lowercase;
  opacity: .5;
}

body header .info-link:before {
  position: absolute;
  display: inline-block;
  content: 'i';
  left: 6px;
  top: 5px;
}

body header .lang-menu {
  position: absolute;
  top: 11px;
  right: 15px;
  opacity: .5;
}

body main {
  position: relative;
  min-height: 100vh;
  color: #fff;
}

body main .section {
  position: relative;
}

body main .section .left-main-elem {
  position: absolute;
  top: 300px;
  left: -100px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 8px;
  color: #bea67c;
}

body main .section .left-main-elem .dot {
  position: relative;
  bottom: 10px;
  display: inline-block;
  margin-left: 20px;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background-color: #bea67c;
  opacity: .5;
}

body main .section .left-main-elem .dot:first-child {
  opacity: 1;
}

body main .section .left-main-elem:before {
  display: inline-block;
  position: absolute;
  left: -60px;
  top: 22px;
  content: '';
  width: 40px;
  height: 4px;
  background-color: #bea67c;
}

body main .main-content {
  padding-top: 150px;
}

body main .main-content h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #bea67c;
  font-size: 90px;
}

body main .main-content a {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 20px 60px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

body main .main-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body main .main-content .mouse-icon {
  display: block;
  height: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(../images/mouse-icon.png) no-repeat left;
}

body main .main-content .scroll-wrap {
  position: relative;
  height: 200px;
}

body main .main-content .scroll-wrap .scroll {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: -51px;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

body main .main-content .scroll-wrap .scroll .arrow-down {
  display: inline-block;
  padding-right: 15px;
  -webkit-transform: scaleX(2);
     -moz-transform: scaleX(2);
      -ms-transform: scaleX(2);
       -o-transform: scaleX(2);
          transform: scaleX(2);
}

body main .main-content .scroll-wrap .scroll .scroll-text {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 6px;
  font-weight: bold;
  color: #20201f;
  text-align: left;
  text-transform: uppercase;
}

body main .right-main-elem {
  position: absolute;
  top: 260px;
  right: -86px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #bea67c;
  opacity: .2;
}

body main .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
}

body main .bg .bg-l {
  display: inline-block;
  height: 100%;
  width: 54%;
  background-image: url(../images/bg-l.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body main .bg .bg-r {
  display: inline-block;
  height: -webkit-calc(100% + 30px);
  height: -moz-calc(100% + 30px);
  height: calc(100% + 30px);
  width: 46%;
  margin-bottom: -30px;
  background-image: url(../images/bg-r.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body main .bg .overlay {
  position: relative;
}

body main .bg .overlay:before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

body main .share {
  display: inline-block;
  position: absolute;
  bottom: -27px;
  right: 4px;
  width: 25px;
  height: 25px;
  background-image: url("../images/share-25.png");
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  -moz-transition: transform .4s ease-out, -moz-transform .4s ease-out;
  -o-transition: transform .4s ease-out, -o-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out, -moz-transform .4s ease-out, -o-transform .4s ease-out;
}

body main .share:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
}

body h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 4px;
}

body h2:before {
  position: absolute;
  top: 26px;
  content: '';
  width: 120px;
  height: 1px;
  background-color: #000;
}

body h2.left:before {
  left: -140px;
}

body h2.right:before {
  right: -140px;
}

body p {
  position: relative;
  line-height: 2;
  font-size: 15px;
}

body p:before {
  position: absolute;
  top: 13px;
  content: '';
  width: 40px;
  height: 4px;
  background-color: #bea67c;
}

body p.left:before {
  left: -60px;
}

body p.right:before {
  right: -60px;
}

body a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4px;
}

body section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

body section .learn-more-link {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 20px;
  position: relative;
  color: #000;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

body section .learn-more-link .learn-more-arrow {
  color: #bea67c;
}

body section .learn-more-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

body section .learn-more-link:hover:after {
  width: 78%;
}

body section a:after {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #bea67c;
  -webkit-transition: width .5s ease-out;
  -moz-transition: width .5s ease-out;
  -o-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

body #furniture {
  padding-top: 150px;
}

body #furniture .furniture-text {
  padding-top: 60px;
  padding-left: 140px;
  max-width: 400px;
}

body #furniture .furniture-img {
  width: 100%;
  height: 400px;
  background: url(../images/furniture-img.jpg) no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
}

body #decor .col:first-child {
  float: right;
}

body #decor .decor-img {
  width: 100%;
  height: 400px;
  background: url(../images/decor-img.jpg) no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
}

body #decor .decor-text {
  padding-top: 34px;
  padding-right: 140px;
  text-align: right;
  max-width: 400px;
}

body #quality {
  text-align: center;
}

body #quality h2:before {
  display: none;
}

body #quality p {
  display: inline-block;
  max-width: 550px;
}

body #quality p:before {
  top: -25px;
  left: -webkit-calc(50% - 20px);
  left: -moz-calc(50% - 20px);
  left: calc(50% - 20px);
}

body #quality .items {
  padding-top: 30px;
  padding-bottom: 30px;
}

body #quality .items .item {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

body #quality .items .item .img {
  position: relative;
}

body #quality .items .item .img:before {
  position: absolute;
  z-index: 2;
  content: '';
  top: -webkit-calc(50% - 30px);
  top: -moz-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: -moz-calc(50% - 30px);
  left: calc(50% - 30px);
  display: block;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background-color: #bea67c;
  opacity: .8;
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  background-position: 22px center;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

body #quality .items .item .img img {
  position: relative;
  border: 10px solid #fff;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 0 0 3px #ccc;
     -moz-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
}

body #quality .items .item h4 {
  margin-top: 36px;
  position: relative;
}

body #quality .items .item h4:before {
  position: absolute;
  top: -18px;
  left: -webkit-calc(50% - 15px);
  left: -moz-calc(50% - 15px);
  left: calc(50% - 15px);
  content: '';
  width: 30px;
  height: 4px;
  background-color: #bea67c;
  opacity: .5;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

body #quality .items .item:hover .img:before {
  opacity: .95;
}

body #quality .items .item:hover h4:before {
  left: 0;
  right: 0;
  width: 100%;
}

body #video {
  position: relative;
  background-image: url(../images/video-section-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body #video:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.85);
}

body #video:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: url("../images/video-section-play-bg.png") 100% 50% no-repeat;
  -webkit-background-size: 500px 500px;
     -moz-background-size: 500px;
       -o-background-size: 500px;
          background-size: 500px;
}

body #video .border {
  position: relative;
  margin: -30px;
  padding: 30px;
  border: 1px solid #bea67c;
}

body #video .border:before {
  position: absolute;
  width: 1px;
  height: 100px;
  top: -webkit-calc(50% - 50px);
  top: -moz-calc(50% - 50px);
  top: calc(50% - 50px);
  right: 80px;
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
}

body #video .video-text {
  max-width: 540px;
  padding-left: 140px;
}

body #video .video-text h2 {
  color: #bea67c;
}

body #video .video-text h2:before {
  background-color: #fff;
}

body #video .video-text p {
  color: #fff;
  margin-bottom: 50px;
}

body #video .video-text a {
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px 80px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

body #video .video-text a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body #video .video-text a:after {
  display: none;
}

body #video .video-text a:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 24px;
  top: 16px;
  left: 40px;
  background: url(../images/play-icon.png) no-repeat;
}

body #about .col:first-child {
  float: right;
}

body #about .about-img {
  width: 100%;
  height: 400px;
  background: url(../images/about-img.jpg) no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 3px 20px rgba(0, 0, 0, 0.25);
}

body #about .about-text {
  z-index: 3;
  padding-top: 50px;
  padding-left: 66px;
  max-width: 280px;
}

body footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #171717;
}

body footer .section {
  position: relative;
}

body footer .section .copy {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #464646;
  font-size: 14px;
}

body footer .section .logo {
  margin: 0 auto;
  color: #fff;
}

body footer .section .designed-by {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #464646;
  font-size: 14px;
}

body footer .section .designed-by .author {
  cursor: pointer;
  color: #7d7d7d;
}

body .scrollToTop {
  z-index: 101;
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 10px 14px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color .1s ease-out;
  -moz-transition: background-color .1s ease-out;
  -o-transition: background-color .1s ease-out;
  transition: background-color .1s ease-out;
}

body .scrollToTop:hover {
  background-color: #bea67c;
}

body .logo {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
}

body .logo:before {
  display: inline-block;
  position: absolute;
  content: '';
  left: 41px;
  top: 18px;
  width: 56px;
  height: 4px;
  background-color: #bea67c;
}

body .bg-letter {
  position: relative;
}

body .bg-letter:before {
  z-index: 100;
  position: absolute;
  display: inline-block;
  font-size: 400px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
}

body .f1.bg-letter:before {
  top: -400px;
  left: 0;
  content: 'F';
}

body .f2.bg-letter:before {
  top: 100px;
  left: 50px;
  font-size: 160px;
  content: 'FURNITURE';
}

body .d1.bg-letter:before {
  top: 100px;
  left: -300px;
  content: 'DECOR';
  font-size: 160px;
}

body .d2.bg-letter:before {
  top: -100px;
  content: 'D';
}

body .a1.bg-letter:before {
  top: 100px;
  left: -150px;
  font-size: 160px;
  content: 'ABOUT';
}

body .a2.bg-letter:before {
  top: -100px;
  left: 200px;
  content: 'A';
}

body .modal-bg {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

body .mobile-menu-block {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #bea67c;
}

body .mobile-menu-block ul li {
  list-style-type: none;
  line-height: 50px;
}

body .mobile-menu-block ul li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
}

body .mobile-menu-block ul li a:hover {
  color: #fff;
}

body .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
