// @media only screen and (min-width: 768px)
// @media only screen and (min-width: 992px)
// @media only screen and (min-width: 1200px)
@media only screen and (max-width: 1199px)
	body
		.left-padding
			padding-left: 200px
		header
			nav
				ul
					li
						padding-left: 60px
@media only screen and (max-width: 991px)
	body
		.left-padding
			padding-left: 100px
		header
			nav
				ul
					li
						padding-left: 40px
// @media only screen and (max-width: 767px)
// @media only screen and (max-width: 480px)