$main-color: #bea67c

body
	font-family: 'Oxygen', sans-serif
	font-size: 16px
	min-width: 480px

	a
		text-decoration: none
		color: #fff
	.left-padding
		padding-left: 300px
	header
		z-index: 1
		position: absolute
		top: 18px
		left: 0
		right: 0
		text-transform: uppercase
		color: #fff
		a
			transition: opacity .3s ease-out
			&:hover, &:focus
				opacity: 1
		.mobile-menu
			z-index: 1001
			position: absolute
			top: 11px
			left: 50px
			opacity: .5
			.menu-icon
				position: absolute
				display: block
				top: -4px
				left: -30px
				width: 20px
				line-height: 1px
				.menu-icon-line
					display: inline-block
					width: 100%
					height: 1px
					background-color: $main-color
		nav
			display: inline-block
			ul
				position: relative
				bottom: 5px
				display: inline-block
				margin:
					top: 0
					bottom: 0
				padding:
					left: 0
				li
					display: inline-block
					padding-left: 80px
					a
						opacity: .5
						font-size: 14px
		.info-link
			position: absolute
			top: 10px
			right: 55px
			display: inline-block
			width: 16px
			height: 16px
			border: 1px solid #fff
			border-radius: 100%
			line-height: 6px
			text-transform: lowercase
			opacity: .5
			&:before
				position: absolute
				display: inline-block
				content: 'i'
				left: 6px
				top: 5px
		.lang-menu
			position: absolute
			top: 11px
			right: 15px
			opacity: .5

	
	main
		position: relative
		min-height: 100vh
		color: #fff
		.section
			position: relative
			.left-main-elem
				position: absolute
				top: 300px
				left: -100px
				display: inline-block
				transform: rotate(90deg)

				font-size: 40px
				font-weight: bold
				letter-spacing: 8px
				color: $main-color
				.dot
					position: relative
					bottom: 10px
					display: inline-block
					margin-left: 20px
					width: 7px
					height: 7px
					border-radius: 100%
					background-color: $main-color
					opacity: .5
				.dot:first-child
					opacity: 1
			.left-main-elem:before
				display: inline-block
				position: absolute
				left: -60px
				top: 22px
				content: ''
				width: 40px
				height: 4px
				background-color: $main-color
		.main-content
			padding:
				top: 150px
			h1
				margin:
					top: 0
					bottom: 0
				text-transform: uppercase
				letter-spacing: 20px
				color: $main-color
				font-size: 90px
			a
				display: inline-block
				margin:
					top: 60px
					bottom: 50px
				padding: 20px 60px

				border: 1px solid #fff

				text-transform: uppercase
				letter-spacing: 5px
				font-size: 12px
				font-weight: bold
				color: #fff
				&:hover
					background-color: rgba(255,255,255,.1)
				transition: background-color .3s ease-out
			.mouse-icon
				display: block
				height: 32px
				padding:
					top: 30px
					bottom: 30px
				background: url(../images/mouse-icon.png) no-repeat left
			.scroll-wrap
				position: relative
				height: 200px
				.scroll
					display: inline-block
					position: absolute
					top: 70px
					left: -51px
					transform: rotate(90deg)
					.arrow-down
						display: inline-block
						padding:
							right: 15px
						transform: scaleX(2)
					.scroll-text
						display: inline-block
						font-size: 12px
						letter-spacing: 6px
						font-weight: bold
						color: #20201f
						text-align: left
						text-transform: uppercase
		.right-main-elem
			position: absolute
			top: 260px
			right: -86px
			display: inline-block
			transform: rotate(90deg)

			text-transform: uppercase
			font-size: 14px
			font-weight: bold
			letter-spacing: 3px
			color: $main-color
			opacity: .2
		.bg
			position: absolute
			z-index: -1
			top: 0
			left: 0
			right: 0
			height: 100%
			font-size: 0
			white-space: nowrap
			.bg-l
				display: inline-block
				height: 100%
				width: 54%
				background: url(../images/bg-l.jpg) no-repeat
				background-size: cover
			.bg-r
				display: inline-block
				height: calc(100% + 30px)
				width: 46%
				margin-bottom: -30px
				background: url(../images/bg-r.jpg) no-repeat
				background-size: cover
			.overlay
				position: relative
			.overlay:before
				display: inline-block
				position: absolute
				content: ""
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: rgba(0,0,0,.85)
		.share
			display: inline-block
			position: absolute
			bottom: -27px
			right: 4px
			width: 25px
			height: 25px
			background-image: url("../images/share-25.png")
			transition: transform .4s ease-out
			&:hover
				transform: rotate(360deg)

	h2
		position: relative
		text-transform: uppercase
		font-size: 46px
		font-weight: bold
		letter-spacing: 4px
	h2:before
		position: absolute
		top: 26px
		content: ''
		width: 120px
		height: 1px
		background-color: #000
	h2.left:before
		left: -140px
	h2.right:before
		right: -140px
	p
		position: relative
		line-height: 2
		font-size: 15px
	p:before
		position: absolute
		top: 13px
		content: ''
		width: 40px
		height: 4px
		background-color: $main-color
	p.left:before
		left: -60px
	p.right:before
		right: -60px
	a
		text-transform: uppercase
		font-size: 14px
		font-weight: bold
		letter-spacing: 4px

	section
		padding:
			top: 80px
			bottom: 80px
		overflow: hidden
		.learn-more-link
			display: inline-block
			margin:
				top: 12px
				bottom: 20px
			position: relative
			color: #000

			.learn-more-arrow
				color: $main-color
			&:hover
				color: rgba(0,0,0,.7)
				&:after
					width: 78%
			transition: color .3s ease-out
		a:after
			display: inline-block
			position: absolute
			left: 0
			bottom: -5px
			content: ''
			width: 50px
			height: 2px
			background-color: $main-color
			transition: width .5s ease-out
		
	#furniture
		padding-top: 150px
		.furniture-text
			padding:
				top: 60px
				left: 140px
			max-width: 400px
		.furniture-img
			width: 100%
			height: 400px
			background: url(../images/furniture-img.jpg) no-repeat
			background-size: cover
			box-shadow: 2px 3px 20px rgba(0,0,0,.25)

	#decor
		.col:first-child
			float: right
		.decor-img
			width: 100%
			height: 400px
			background: url(../images/decor-img.jpg) no-repeat
			background-size: cover
			box-shadow: -2px 3px 20px rgba(0,0,0,.25)
		.decor-text
			padding:
				top: 34px
				right: 140px
			text-align: right
			max-width: 400px

	#quality
		text-align: center
		h2
			&:before
				display: none
		p
			display: inline-block
			max-width: 550px
			&:before
				top: -25px
				left: calc(50% - 20px)
		.items
			padding:
				top: 30px
				bottom: 30px	
			.item
				display: inline-block
				padding:
					left: 20px
					right: 20px
				cursor: pointer
				.img
					position: relative
					&:before
						position: absolute
						z-index: 2
						content: ''
						top: calc(50% - 30px)
						left: calc(50% - 30px)
						display: block
						width: 60px
						height: 60px
						border-radius: 100%
						background-color: $main-color
						opacity: .8
						background-image: url("../images/play.png")
						background-repeat: no-repeat
						background-position: 22px center
						transition: opacity .3s
					img
						position: relative
						border: 10px solid #fff
						border-radius: 100%
						box-shadow: 0 0 3px #ccc
				h4
					margin-top: 36px
					position: relative
					&:before
						position: absolute
						top: -18px
						left: calc(50% - 15px)
						content: ''
						width: 30px
						height: 4px
						background-color: $main-color
						opacity: .5
						transition: all .5s ease-out
				&:hover
					.img:before
						opacity: .95
					h4:before
						left: 0
						right: 0
						width: 100%

	#video
		position: relative
		background: url(../images/video-section-bg.jpg) no-repeat center
		background-size: cover
		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			content: ''
			background: rgba(0,0,0,.85)
		&:after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			content: ''
			background: url("../images/video-section-play-bg.png") 100% 50% no-repeat
			background-size: 500px
		.border
			position: relative
			margin: -30px
			padding: 30px
			border: 1px solid $main-color
			&:before
				position: absolute
				width: 1px
				height: 100px
				top: calc(50% - 50px)
				right: 80px
				content: ''
				background-color: rgba(255,255,255,.3)
		
		.video-text
			max-width: 540px
			padding:
				left: 140px
			h2
				color: $main-color
				&:before
					background-color: #fff
			p
				color: #fff
				margin-bottom: 50px
			a
				position: relative
				z-index: 5
				margin-bottom: 20px
				display: inline-block
				padding: 20px 80px
				border: 1px solid #fff
				color: #fff
				&:hover
					background-color: rgba(255,255,255,.1)
				transition: background-color .3s ease-out
				&:after
					display: none
				&:before
					position: absolute
					content: ''
					width: 25px
					height: 24px
					top: 16px
					left: 40px
					background: url(../images/play-icon.png) no-repeat
	#about
		.col:first-child
			float: right
		.about-img
			width: 100%
			height: 400px
			background: url(../images/about-img.jpg) no-repeat
			background-size: cover
			box-shadow: -2px 3px 20px rgba(0,0,0,.25)
		.about-text
			z-index: 3
			padding:
				top: 50px
				left: 66px
			max-width: 280px
	
	footer
		padding:
			top: 10px
			bottom: 10px
		text-align: center
		background-color: #171717
		.section
			position: relative
			.copy
				position: absolute
				top: 10px
				left: 10px
				color: #464646
				font-size: 14px
			.logo
				margin: 0 auto
				color: #fff
			.designed-by
				position: absolute
				top: 10px
				right: 10px
				color: #464646
				font-size: 14px
				.author
					cursor: pointer
					color: #7d7d7d
	.scrollToTop
		z-index: 101
		display: none
		position: fixed
		right: 30px
		bottom: 30px
		padding: 10px 14px
		border-radius: 3px
		letter-spacing: 1px
		color: #fff
		background-color: rgba(0,0,0,.7)
		transition: background-color .1s ease-out
		&:hover
			background-color: $main-color

.logo
	position: relative
	font-size: 30px
	font-weight: bold
	letter-spacing: 10px
.logo:before
	display: inline-block
	position: absolute
	content: ''
	left: 41px
	top: 18px
	width: 56px
	height: 4px
	background-color: #bea67c

.bg-letter
	position: relative
	&:before
		z-index: 100
		position: absolute
		display: inline-block
		font-size: 400px
		font-weight: bold
		color: rgba(0,0,0,.1)
.f1
	&.bg-letter
		&:before
			top: -400px
			left: 0
			content: 'F'
.f2
	&.bg-letter
		&:before
			top: 100px
			left: 50px
			font-size: 160px
			content: 'FURNITURE'
.d1
	&.bg-letter
		&:before
			top: 100px
			left: -300px
			content: 'DECOR'
			font-size: 160px
.d2
	&.bg-letter
		&:before
			top: -100px
			content: 'D'
.a1
	&.bg-letter
		&:before
			top: 100px
			left: -150px
			font-size: 160px
			content: 'ABOUT'
.a2
	&.bg-letter
		&:before
			top: -100px
			left: 200px
			content: 'A'
.mobile-menu-bg-wrap
	display: none
	z-index: 999
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.7)
	.mobile-menu-block
		position: absolute
		top: 0
		left: -200px
		width: 200px
		height: 100%
		background-color: $main-color
		ul
			li
				list-style-type: none
				line-height: 50px
				a
					display: inline-block
					color: rgba(255,255,255,.9)
					&:hover
						color: #fff













